.cap-toranj {
    width: 40%;
}

.rightside-folio {
.portfolio-md-detail {
    padding: 25px;

    ul.list-items { 
        border-bottom: 1px solid black;
        margin-bottom: 0;
        padding-bottom: 20px;

        li {
            font-size: 13px;
        }
    }
}
}

.fgj-textblock {
    .wpb_wrapper {
        padding: 25px;
        padding-top: 0;
        background: white;
    }
}
