
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=11439fec7003510166fadf55e0da7fb5
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup
